AdminWeb/AdminWeb/Service References/Service/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="testearConexion">
        <s:complexType />
      </s:element>
      <s:element name="testearConexionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="testearConexionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_GuardarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_Eliminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="admin_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_EliminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_EliminarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_CargarTodos">
        <s:complexType />
      </s:element>
      <s:element name="admin_CargarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_CargarTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_Cargar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="admin_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_CargarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_CargarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_cambiarContraseña">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_cambiarContraseñaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_cambiarContraseñaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="admin_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="admin_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="admin_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_Guardar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cl_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cl_password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cl_nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cl_apellidos" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_GuardarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_GuardarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_Elminar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cl_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_ElminarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_ElminarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_CargarTodos">
        <s:complexType />
      </s:element>
      <s:element name="cliente_CargarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_CargarTodosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_Cargar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cl_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_CargarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_CargarResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_cambiarContraseña">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cl_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cl_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_cambiarContraseñaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_cambiarContraseñaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cl_username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cl_password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="cliente_LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cliente_LoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_guardarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pro_nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pro_precio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pro_estado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pro_foto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_guardarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_guardarProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_eliminarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pro_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_eliminarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_eliminarClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_editarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pro_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pro_nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pro_precio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pro_estado" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="pro_foto" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_editarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_editarProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_cargarProductos">
        <s:complexType />
      </s:element>
      <s:element name="product_cargarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_cargarProductosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_cargarProducto">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pro_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="product_cargarProductoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product_cargarProductoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="testearConexionSoapIn">
    <wsdl:part name="parameters" element="tns:testearConexion" />
  </wsdl:message>
  <wsdl:message name="testearConexionSoapOut">
    <wsdl:part name="parameters" element="tns:testearConexionResponse" />
  </wsdl:message>
  <wsdl:message name="admin_GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:admin_Guardar" />
  </wsdl:message>
  <wsdl:message name="admin_GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:admin_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="admin_EliminarSoapIn">
    <wsdl:part name="parameters" element="tns:admin_Eliminar" />
  </wsdl:message>
  <wsdl:message name="admin_EliminarSoapOut">
    <wsdl:part name="parameters" element="tns:admin_EliminarResponse" />
  </wsdl:message>
  <wsdl:message name="admin_CargarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:admin_CargarTodos" />
  </wsdl:message>
  <wsdl:message name="admin_CargarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:admin_CargarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="admin_CargarSoapIn">
    <wsdl:part name="parameters" element="tns:admin_Cargar" />
  </wsdl:message>
  <wsdl:message name="admin_CargarSoapOut">
    <wsdl:part name="parameters" element="tns:admin_CargarResponse" />
  </wsdl:message>
  <wsdl:message name="admin_cambiarContraseñaSoapIn">
    <wsdl:part name="parameters" element="tns:admin_cambiarContraseña" />
  </wsdl:message>
  <wsdl:message name="admin_cambiarContraseñaSoapOut">
    <wsdl:part name="parameters" element="tns:admin_cambiarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="admin_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:admin_Login" />
  </wsdl:message>
  <wsdl:message name="admin_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:admin_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_GuardarSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_Guardar" />
  </wsdl:message>
  <wsdl:message name="cliente_GuardarSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_ElminarSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_Elminar" />
  </wsdl:message>
  <wsdl:message name="cliente_ElminarSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_ElminarResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_CargarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_CargarTodos" />
  </wsdl:message>
  <wsdl:message name="cliente_CargarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_CargarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_CargarSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_Cargar" />
  </wsdl:message>
  <wsdl:message name="cliente_CargarSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_CargarResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_cambiarContraseñaSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_cambiarContraseña" />
  </wsdl:message>
  <wsdl:message name="cliente_cambiarContraseñaSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_cambiarContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="cliente_LoginSoapIn">
    <wsdl:part name="parameters" element="tns:cliente_Login" />
  </wsdl:message>
  <wsdl:message name="cliente_LoginSoapOut">
    <wsdl:part name="parameters" element="tns:cliente_LoginResponse" />
  </wsdl:message>
  <wsdl:message name="product_guardarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:product_guardarProducto" />
  </wsdl:message>
  <wsdl:message name="product_guardarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:product_guardarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="product_eliminarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:product_eliminarCliente" />
  </wsdl:message>
  <wsdl:message name="product_eliminarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:product_eliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="product_editarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:product_editarProducto" />
  </wsdl:message>
  <wsdl:message name="product_editarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:product_editarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="product_cargarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:product_cargarProductos" />
  </wsdl:message>
  <wsdl:message name="product_cargarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:product_cargarProductosResponse" />
  </wsdl:message>
  <wsdl:message name="product_cargarProductoSoapIn">
    <wsdl:part name="parameters" element="tns:product_cargarProducto" />
  </wsdl:message>
  <wsdl:message name="product_cargarProductoSoapOut">
    <wsdl:part name="parameters" element="tns:product_cargarProductoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="testearConexion">
      <wsdl:input message="tns:testearConexionSoapIn" />
      <wsdl:output message="tns:testearConexionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_Guardar">
      <wsdl:input message="tns:admin_GuardarSoapIn" />
      <wsdl:output message="tns:admin_GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_Eliminar">
      <wsdl:input message="tns:admin_EliminarSoapIn" />
      <wsdl:output message="tns:admin_EliminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_CargarTodos">
      <wsdl:input message="tns:admin_CargarTodosSoapIn" />
      <wsdl:output message="tns:admin_CargarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_Cargar">
      <wsdl:input message="tns:admin_CargarSoapIn" />
      <wsdl:output message="tns:admin_CargarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_cambiarContraseña">
      <wsdl:input message="tns:admin_cambiarContraseñaSoapIn" />
      <wsdl:output message="tns:admin_cambiarContraseñaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="admin_Login">
      <wsdl:input message="tns:admin_LoginSoapIn" />
      <wsdl:output message="tns:admin_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_Guardar">
      <wsdl:input message="tns:cliente_GuardarSoapIn" />
      <wsdl:output message="tns:cliente_GuardarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_Elminar">
      <wsdl:input message="tns:cliente_ElminarSoapIn" />
      <wsdl:output message="tns:cliente_ElminarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_CargarTodos">
      <wsdl:input message="tns:cliente_CargarTodosSoapIn" />
      <wsdl:output message="tns:cliente_CargarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_Cargar">
      <wsdl:input message="tns:cliente_CargarSoapIn" />
      <wsdl:output message="tns:cliente_CargarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_cambiarContraseña">
      <wsdl:input message="tns:cliente_cambiarContraseñaSoapIn" />
      <wsdl:output message="tns:cliente_cambiarContraseñaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="cliente_Login">
      <wsdl:input message="tns:cliente_LoginSoapIn" />
      <wsdl:output message="tns:cliente_LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="product_guardarProducto">
      <wsdl:input message="tns:product_guardarProductoSoapIn" />
      <wsdl:output message="tns:product_guardarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="product_eliminarCliente">
      <wsdl:input message="tns:product_eliminarClienteSoapIn" />
      <wsdl:output message="tns:product_eliminarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="product_editarProducto">
      <wsdl:input message="tns:product_editarProductoSoapIn" />
      <wsdl:output message="tns:product_editarProductoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="product_cargarProductos">
      <wsdl:input message="tns:product_cargarProductosSoapIn" />
      <wsdl:output message="tns:product_cargarProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="product_cargarProducto">
      <wsdl:input message="tns:product_cargarProductoSoapIn" />
      <wsdl:output message="tns:product_cargarProductoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testearConexion">
      <soap:operation soapAction="http://tempuri.org/testearConexion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Guardar">
      <soap:operation soapAction="http://tempuri.org/admin_Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Eliminar">
      <soap:operation soapAction="http://tempuri.org/admin_Eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_CargarTodos">
      <soap:operation soapAction="http://tempuri.org/admin_CargarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Cargar">
      <soap:operation soapAction="http://tempuri.org/admin_Cargar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_cambiarContraseña">
      <soap:operation soapAction="http://tempuri.org/admin_cambiarContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Login">
      <soap:operation soapAction="http://tempuri.org/admin_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Guardar">
      <soap:operation soapAction="http://tempuri.org/cliente_Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Elminar">
      <soap:operation soapAction="http://tempuri.org/cliente_Elminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_CargarTodos">
      <soap:operation soapAction="http://tempuri.org/cliente_CargarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Cargar">
      <soap:operation soapAction="http://tempuri.org/cliente_Cargar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_cambiarContraseña">
      <soap:operation soapAction="http://tempuri.org/cliente_cambiarContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Login">
      <soap:operation soapAction="http://tempuri.org/cliente_Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_guardarProducto">
      <soap:operation soapAction="http://tempuri.org/product_guardarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_eliminarCliente">
      <soap:operation soapAction="http://tempuri.org/product_eliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_editarProducto">
      <soap:operation soapAction="http://tempuri.org/product_editarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_cargarProductos">
      <soap:operation soapAction="http://tempuri.org/product_cargarProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_cargarProducto">
      <soap:operation soapAction="http://tempuri.org/product_cargarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="testearConexion">
      <soap12:operation soapAction="http://tempuri.org/testearConexion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Guardar">
      <soap12:operation soapAction="http://tempuri.org/admin_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Eliminar">
      <soap12:operation soapAction="http://tempuri.org/admin_Eliminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_CargarTodos">
      <soap12:operation soapAction="http://tempuri.org/admin_CargarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Cargar">
      <soap12:operation soapAction="http://tempuri.org/admin_Cargar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_cambiarContraseña">
      <soap12:operation soapAction="http://tempuri.org/admin_cambiarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="admin_Login">
      <soap12:operation soapAction="http://tempuri.org/admin_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Guardar">
      <soap12:operation soapAction="http://tempuri.org/cliente_Guardar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Elminar">
      <soap12:operation soapAction="http://tempuri.org/cliente_Elminar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_CargarTodos">
      <soap12:operation soapAction="http://tempuri.org/cliente_CargarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Cargar">
      <soap12:operation soapAction="http://tempuri.org/cliente_Cargar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_cambiarContraseña">
      <soap12:operation soapAction="http://tempuri.org/cliente_cambiarContraseña" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cliente_Login">
      <soap12:operation soapAction="http://tempuri.org/cliente_Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_guardarProducto">
      <soap12:operation soapAction="http://tempuri.org/product_guardarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_eliminarCliente">
      <soap12:operation soapAction="http://tempuri.org/product_eliminarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_editarProducto">
      <soap12:operation soapAction="http://tempuri.org/product_editarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_cargarProductos">
      <soap12:operation soapAction="http://tempuri.org/product_cargarProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="product_cargarProducto">
      <soap12:operation soapAction="http://tempuri.org/product_cargarProducto" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://192.168.1.107/webservice/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://192.168.1.107/webservice/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>